 html {
            height: 100%;
        }
        body {
            font-family: 'Open Sans', sans-serif;
            color: rgb(128, 124, 124);
            background: #fff;
        }
        .center {
            font-size: 2em;
            text-align: center;
            word-wrap: 2px;
        }

        .mode {
            display: inline-block;
            max-width: 800px;
            margin-left: 50%;
            overflow: hidden;
        }

        button {
           display: flex;
           text-align: center;
           margin-top: 30px;
           border: 0;
           padding: 10px 20px;
           background: #ddd;
           cursor: pointer;
           font-weight: 400;
        }

        /* .dark-mode {
            background: #000;
            color: #fff;
            transition: all .3 ease-out;
        } */

        .hitam {background: #000;}

        .white {background: #fff;}

        .kotak {
            width: 25px;
            height: 25px;
            margin: 20px auto;
            text-align: center;
        }

        .input {
            margin: 20px auto;
            text-align: center;
        }

        .merah{ background: red;}
        .hijau{background: green;}
        .biru{background: blue;}
